<!DOCTYPE html>
<html>
<title>Bazar List - A Simple Vue App</title>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .content {
            padding-top: 10%;
        }
    </style>
</head>

<body>

    <div id="app" class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 offset-md-4 content">

                <h3 class="text-center">Bazar List</h3>

                <form @submit.prevent="addItem">
                    <input v-model="newItem" class="form-control">
                </form>

                <hr>

                <ul class="list-group">
                    <li v-for="(item, index) in items" :key="index" class="list-group-item">
                        <button class="btn btn-xs btn-danger" @click="removeItem(index)">x</button>
                        {{ (index + 1) }}. {{ item.name }}
                        <input class="float-right text-right" style="width:50%" v-model="item.price">
                    </li>
                    <li class="list-group-item">
                        <h4> Total  <span class="float-right">{{ total }}</span></h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="my.js"></script>
</body>

</html>
